<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 18.1.8</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>223</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>223</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>36</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>38</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>226</integer>
      <key>col</key><integer>36</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>226</integer>
         <key>col</key><integer>36</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>226</integer>
         <key>col</key><integer>48</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>36</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>38</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>224</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>224</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>224</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential memory leak</string>
     <key>message</key>
     <string>Potential memory leak</string>
    </dict>
   </array>
   <key>description</key><string>Potential memory leak</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>cplusplus.NewDeleteLeaks</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>212e49501b862b412aefdbaa1113c62a</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>5</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>224</integer>
   <key>col</key><integer>13</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>11</integer>
    <integer>68</integer>
    <integer>70</integer>
    <integer>102</integer>
    <integer>105</integer>
    <integer>221</integer>
    <integer>223</integer>
    <integer>224</integer>
    <integer>225</integer>
    <integer>226</integer>
   </array>
   <key>1</key>
   <array>
    <integer>541</integer>
    <integer>542</integer>
    <integer>543</integer>
    <integer>544</integer>
    <integer>550</integer>
   </array>
   <key>2</key>
   <array>
    <integer>365</integer>
    <integer>366</integer>
    <integer>367</integer>
    <integer>368</integer>
    <integer>369</integer>
    <integer>371</integer>
    <integer>381</integer>
    <integer>384</integer>
    <integer>385</integer>
    <integer>386</integer>
    <integer>388</integer>
    <integer>391</integer>
   </array>
   <key>3</key>
   <array>
    <integer>646</integer>
    <integer>3771</integer>
    <integer>3772</integer>
    <integer>3773</integer>
    <integer>3774</integer>
    <integer>3775</integer>
    <integer>3776</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>223</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>223</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>225</integer>
           <key>col</key><integer>35</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>225</integer>
           <key>col</key><integer>37</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>225</integer>
      <key>col</key><integer>35</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>225</integer>
         <key>col</key><integer>35</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>225</integer>
         <key>col</key><integer>47</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>225</integer>
           <key>col</key><integer>35</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>225</integer>
           <key>col</key><integer>37</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>30</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>226</integer>
           <key>col</key><integer>32</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>226</integer>
      <key>col</key><integer>30</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential memory leak</string>
     <key>message</key>
     <string>Potential memory leak</string>
    </dict>
   </array>
   <key>description</key><string>Potential memory leak</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>cplusplus.NewDeleteLeaks</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>29fc27e1cfd0019efbe0bbf44315815a</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>4</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>226</integer>
   <key>col</key><integer>30</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>11</integer>
    <integer>102</integer>
    <integer>105</integer>
    <integer>221</integer>
    <integer>223</integer>
    <integer>224</integer>
    <integer>225</integer>
    <integer>226</integer>
   </array>
   <key>1</key>
   <array>
    <integer>541</integer>
    <integer>542</integer>
    <integer>543</integer>
    <integer>544</integer>
    <integer>550</integer>
   </array>
   <key>2</key>
   <array>
    <integer>365</integer>
    <integer>366</integer>
    <integer>367</integer>
    <integer>368</integer>
    <integer>371</integer>
    <integer>381</integer>
    <integer>384</integer>
    <integer>385</integer>
    <integer>386</integer>
    <integer>388</integer>
    <integer>391</integer>
   </array>
   <key>3</key>
   <array>
    <integer>646</integer>
    <integer>3771</integer>
    <integer>3772</integer>
    <integer>3773</integer>
    <integer>3774</integer>
    <integer>3775</integer>
    <integer>3776</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>/home/nemrod7/code/codewars/derivation/simplify.cpp</string>
  <string>/usr/bin/../lib64/gcc/x86_64-pc-linux-gnu/14.2.1/../../../../include/c++/14.2.1/x86_64-pc-linux-gnu/bits/c++config.h</string>
  <string>/usr/bin/../lib64/gcc/x86_64-pc-linux-gnu/14.2.1/../../../../include/c++/14.2.1/bits/char_traits.h</string>
  <string>/usr/bin/../lib64/gcc/x86_64-pc-linux-gnu/14.2.1/../../../../include/c++/14.2.1/bits/basic_string.h</string>
 </array>
</dict>
</plist>
